/* --- KLEUREN --- 
oranje #Da6d42
beige(titels)  #e7cfb4
donker rood #84240c
geel beige oranje beige ding #ffc18c
donkerste kleur is #563232
font-family:"beer";
font-family"retrohand";
*/


/* --- FONTS --- */

@font-face {
  font-family: retroHand;
  src: url('../fonts/RETROHAND.ttf');
}

@font-face {
  font-family: beer;
  src: url('../fonts/BEER.ttf');
}

body {
  background-image: url(../images/Hout.jpg);
  background-size: cover;
  color: #e7cfb4;
  text-align: center;
  font-size: 32px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


/* --- TITELS --- */

h1 {
  font-family: "beer";
  color: #ffc18c;
  font-size: 200%;
  margin-left: 0%;
  margin-top: 1%;
}

p {
  font-size: 120%;
}


/* --- HEADER --- */

header {
  height: 150px;
  padding: 2%;
  width: 100%;
}

.header {
  float: left;
  display: block;
  overflow: hidden;
}

.manapp {
  font-family: retroHand;
  color: #e7cfb4;
  font-size: 2em;
  padding-left: 8%;
  margin-top: 1%;
}

.avatar {
  width: 20%;
}

#hamburger {
  height: 60px;
  width: 10%;
  float: right;
  margin-top: 1%;
}


/* --- MENU --- */

.menu a {
  text-decoration: none;
  font-family: "beer";
  color: #ffc18c;
  font-size: 200%;
  text-align: center;
}

.menu li {
  list-style: none;
  padding: 5%;
  margin-top: 2%;
  /* margin-bottom: 2%;*/
  margin-left: -7.5%;
  margin-right: -1%;
  background-color: rgba(86, 50, 50, 0.8);
}

.menu ul:first-child {
  margin-top: 20%;
}

main {
  display: block;
}

.ingeklapt {
  display: none;
}

.uitgeklapt {
  display: block;
}


/* --- ABOUT PAGINA --- */


/* - ACHIEVEMENTS - */

.achievements li {
  list-style: none;
  float: right;
  width: 250px;
}

.achievements a {
  display: inline-block;
  text-indent: -9999px;
  /*height: 32px;
  width: 32px;*/
  height: 213px;
  width: 204px;
  background-image: url('../images/badges.png');
  background-size: 1602px 213px;
}

.sun a {
  background-position: -276px 0px;
}

.bat a {
  background-position: -560px 0px;
}

.trex a {
  background-position: -840px 0px;
}

.uknown a {
  background-position: -204px 0px;
}


/* - LOGO EHB - */

#logoEhb {
  width: 50%;
}