/*kleurenpallet
oranje #Da6d42
beige(titels)  #e7cfb4
donker rood #84240c
geel beige oranje beige ding #ffc18c
donkerste kleur is #563232
font-family:"beer";
font-family"retrohand";
*/

body {
  background-image: url(../images/Hout.jpg);
  background-size: cover;
  color: #e7cfb4;
  text-align: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
#hoofdpagina_logo {
  margin-left: 14%;
=======
#hoofdpagina_logo{
  margin-left: 10%;
>>>>>>> done
=======
#hoofdpagina_logo{
  margin-left: 10%;
=======
#hoofdpagina_logo {
  margin-left: 14%;
>>>>>>> 866372c861c2726a0159315946a41c77cf9dcd8c
>>>>>>> index is erbij
  margin-top: 33%;
  width: 81%;
}

#a_hoofpagina {
  width: 100%;
  height: 100%;
}

#h1_hoofdpagina {
  font-family: "retrohand";
  color: #ffc18c;
<<<<<<< HEAD
<<<<<<< HEAD
  font-size: 66px;
  margin-left: 17%;
  margin-top: 14%;
=======
  font-size: 450%;
  margin-left: 13%;
  margin-top: 1%;
>>>>>>> done
=======
  font-size: 450%;
  margin-left: 13%;
  margin-top: 1%;
=======
  font-size: 66px;
  margin-left: 17%;
  margin-top: 14%;
>>>>>>> 866372c861c2726a0159315946a41c77cf9dcd8c
>>>>>>> index is erbij
}

#login_logo {
  margin-left: 33%;
  margin-top: 10%;
  width: 35%;
}

input {
  width: 80%;
  height: 30px;
  margin-left: 10%;
  margin-top: 7%;
}

#date_login {
  margin-top: 7%;
  width: 20%;
  margin-left: 40%;
}

#button_registreren {
  background-color: #Da6d42;
  border: 0px;
  width: 30%;
  margin-left: 17%;
  color: white;
  display: inline-block;
}

#button_aanmelden {
  background-color: #Da6d42;
  border: 0px;
  width: 30%;
  margin-left: 6%;
  color: white;
}

hr {
  width: 25%;
  margin-top: 10%;
<<<<<<< HEAD
<<<<<<< HEAD
  border-top: 1px solid #e7cbf4;
  border-color: #e7cbf4;
  background-color: #e7cbf4;
  color: #e7cbf4;
  display: inline-block;
=======
=======
>>>>>>> index is erbij
  border-top: 1px solid #e7cfb4;
  border-color: #e7cfb4;
  background-color: #e7cfb4;
  color: #e7cfb4;
  display: inline-block; 
<<<<<<< HEAD
>>>>>>> done
=======
=======
  border-top: 1px solid #e7cbf4;
  border-color: #e7cbf4;
  background-color: #e7cbf4;
  color: #e7cbf4;
  display: inline-block;
>>>>>>> 866372c861c2726a0159315946a41c77cf9dcd8c
>>>>>>> index is erbij
  float: left;
  margin-left: 5%;
}

#via {
  margin-left: 10%;
  font-family: 'beer';
  font-size: 25px;
  display: inline-block;
}

#hr_left {
  float: right;
}

#facebook {
  margin-left: 9%;
}

.connect img {
  margin-top: 5%;
  width: 27%;
<<<<<<< HEAD
<<<<<<< HEAD
}
=======
=======
>>>>>>> index is erbij
}

a{
  text-decoration: none;
}

.login_p{
  margin-left: 10%;
}

@media screen and (max-width: 320px){
  #via{
    font-size: 120%;
  }
  #hoofdpagina_logo{
    margin-left: 9;
  }
  #h1_hoofdpagina{
    font-size: 370%;
  }
}
<<<<<<< HEAD
>>>>>>> done
=======
=======
}
>>>>>>> 866372c861c2726a0159315946a41c77cf9dcd8c
>>>>>>> index is erbij
