body {
  background-image: url("../IMG/Hout.jpg");
  background-size: cover;
}

.opdrachten ul {
  font-size: 60px;
  list-style-type: none;
  margin-top: 18em;
  padding: 0;
}

.opdrachten ul li {
  width: 100%;
  text-align: center;
}

.opdrachten ul li a {
  text-decoration: none;
  display: block;
  color: #e7cfb4;
  line-height: 2.5em;
  background-color: #84240c;
  border-style: solid;
  border-width: 2px 0 0 0;
  border-color: #e7cfb4;
}

.opdrachten ul li a:nth-child(4) {
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #e7cfb4;
}